<h1>Riggity wrecked SOOOOONNNN!!!!</h1>
<h2>BURRRRRRRRP!!!</h2>
<h1><%= "#{@datetime}" %></h1>
<% @wrecked.each do |wrecked| %>
<ul>
	<li><%= "ughhh so wrecked I'm gonna #{wrecked}!" %></li>
</ul>
<%end%>