<h1><%= @rick.eyeballs %></h1>
<h2><%= link_to "update rick?", "/ricks/#{@rick.id}/edit" %></h2>
<h2><%= link_to "delete rick?", "/ricks/#{@rick.id}", method: "delete" %></h2>
<h2><%= link_to "Back To RICKS!!", "/ricks" %></h2>
